<h1>All cones</h1>
<p><%= link_to 'Create a cone', new_cone_path %></p>
<div class="cones-grid">
  <% @cones.each do |cone| %>
    <div class="card">
      <% if cone.photo.attached? %>
        <%= cl_image_tag cone.photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
      <div class="card-body">
        <h5 class="card-title">
          <%= link_to cone_path(cone) do %>
            <%= cone.description %>
          <% end %>
        </h5>
        <p class="card-text">Condition: <%= cone.condition %></p>
        <p class="card-text">Price: $<%= cone.price %></p>

        <%= link_to cone_path(cone), class: "btn btn-primary" do %>
          Details
        <% end %>
      </div>
    </div>
  <% end %>
</div>
