<div class="card-product m-3">
  <%= cl_image_tag @cone.photo.key %>
  <div class="card-product-infos">
    <h2><%= @cone.name %></h2>
    <p><%= @cone.description %></p>
    <p>Price: <%= @cone.price %></p>
    <p>Condition: <%= @cone.condition %></p>
  </div>
</div>

<!--<div class="card-trip">
  <%= cl_image_tag @cone.photo.key %>
  <div class="card-trip-infos">
    <div>
      <h2><%= @cone.name %></h2>
      <p><%= @cone.description %></p>
    </div>
    <h2 class="card-trip-pricing"><%= @cone.price %></h2>
  </div>
</div>-->
