<h1><%= @cone.name %></h1>
<h2><%= @cone.description %></h2>
<p>Condition: <%= @cone.condition %></p>
<p>Quantity: <%= @cone.quantity %></p>
<p>Price: <%= @cone.price %></p>
<%# <%= cl_image_tag @article.photo.key, height: 300, width: 400, crop: :fill %>
